
<form (submit)="onUserCreate(userData)" #userData="ngForm">

<table class="table">

<tr>
<td>
  NAME
</td>
<td>
  <input type="text" class="form-control" name="name" ngModel>
</td>
</tr>

<tr>
    <td>
      ROLL NO
    </td>
    <td>
        <input type="text" class="form-control" name="rollno" ngModel>
    </td>
    </tr>

    <tr>
        <td>
          ADMISSION NUMBER
        </td>
        <td>
            <input type="text" class="form-control" name="adno" ngModel>
        </td>
        </tr>

        <tr>
            <td>
              COLLEGE
            </td>
            <td>
                <input type="text" class="form-control" name="college" ngModel>
            </td>
            </tr>
    

        <tr>
            <td>
              
            </td>
            <td>
              <BUTTon type="submit" class="btn btn-success" > SUBMIT </BUTTon>
            </td>
            </tr>










</table>
</form>